body{
  background-color: #fff;
  font-family: 'Source Code Pro', monospace;
}
hr{
  color: #B9B9B9;
  background-color: #B9B9B9;
  height: 1px;
  margin-top: 0em;
}
.title{
  color: #2C2D33;
  font-weight: bolder;
  font-size: 8vh;
}
.subtitle{
  color: #589DE0;
  font-size: 3vh;
}
.gtext{
  color: #4C5759;
  font-weight: medium;
}
a{
  color: #4C5759;
  font-weight: medium;
}
a:visited {color:#4C5759;}
a:hover {color:gray;}
a:active {color:#4C5759;}

.deco{
  color: #B9B9B9;
  font-family: 'Roboto', sans-serif;
}
i{
  color: #B9B9B9;
}
.project:hover{
  color:#589DE0;
  text-decoration:none;
}
