@font-face { font-family: menlo; src: url('./fonts/Menlo-Regular.ttf'); }
body{
  background-color: #434343;
  font-size: 3vh;

}

div.header{
  background-color: #E0DDDF;
  box-shadow: 0px 0.5px;
  font-size: 0.5vw;
  margin: 0;
  padding: 0;
  text-align: center;
  }
h1{
  font-family: menlo, sans-serif;
  font-size: 6vw;
}
p{
  font-family: menlo, sans-serif;
  margin:0;
  padding:0;
  color: #F0F3F4;

}
a{
  font-family: menlo, sans-serif;
  color:#F0F3F4;
}
a:visited {color:#F0F3F4;}
a:hover {color:white;}
a:active {color:#F0F3F4;}
input {
    border: none;
    border-bottom: 1px solid gray;
}
.green{
  color: #B3CC77;
}
.yellow{
  color: #FDCF84;
}
.red{
  color: #DF6C68;
}
.purple{
  color: #DFADE0;
}
.blues{
  color: #CADEF2;
}
.blue{
  color: #6EAAC7;
}
.gits{
  color: #2E4053;
}
.title{
  color: #555555;
}
.fas.tamano { transform: scale(0.6,1); }
